<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Todo Application</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <h1>Todo List</h1>
    <form action="/add" method="post" class="add-form">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Enter a new todo" required="required" />
      </div>
      <div>
        <label for="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" />
      </div>
      <button type="submit">Add</button>
    </form>
    <ul>
      <li th:each="todo : ${todos}" th:classappend="${todo.overdue} ? 'task-overdue' : ''">
        <span th:text="${todo.title}"
              th:classappend="${todo.completed} ? 'completed' : ''"></span>
        <div class="task-meta" th:if="${todo.dueDate}">
             <small>Due: <span th:text="${#temporals.format(todo.dueDate, 'MMM dd, yyyy')}"></span></small>
        </div>
        <div class="task-actions">
            <form th:action="@{/complete}" method="post" style="display:inline;">
              <input type="hidden" name="id" th:value="${todo.id}" />
              <button type="submit" th:if="${!todo.completed}">Complete</button>
            </form>
            <a th:href="@{/edit/{id}(id=${todo.id})}" class="button-link">Edit</a>
            <form th:action="@{/delete}" method="post" style="display:inline;">
              <input type="hidden" name="id" th:value="${todo.id}" />
              <button type="submit">Delete</button>
            </form>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
